In [23]:
import numpy as np 
import pandas as pd # 시리즈, 데이터프레임 포맷 데이터 처리를 위한 라이브러리
import warnings; warnings.filterwarnings(action='ignore') # 경고 메시지 무시
import matplotlib.pyplot as plt # 데이터 시각화 라이브러리
import pickle # 객체 입출력을 위한 라이브러리

from sklearn.model_selection import train_test_split # 훈련 데이터, 테스트 데이터 분리
from sklearn.preprocessing import StandardScaler # 정규화


# xgboost
import xgboost as xgb

from pandas.core.common import random_state
from sklearn.ensemble import RandomForestClassifier # 랜덤포레스트 분류 알고리즘
from sklearn.tree import DecisionTreeClassifier # 의사결정나무 분류 알고리즘

import matplotlib.pyplot as plt
import seaborn as sns

# 모델 평가를 위한 metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, plot_confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
# Disease 

df2 = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/aiffel_data/Hackerton_2/data_over_sampling.csv', encoding='cp949') # upsampling 안된 것!
df2

         SEX  BTH_G  SBP  DBP  FBS   BMI  Dis
0          1      1  116   78   94  16.6    0
1          1      1  100   60   79  22.3    0
2          1      1  100   60   87  21.9    0
3          1      1  111   70   72  20.2    0
4          1      1  120   80   98  20.0    0
...      ...    ...  ...  ...  ...   ...  ...
1481319    0     25  120   80   78  27.9    1
1481320    0     27  150   74  133  32.0    1
1481321    1     25  120   70  118  26.9    1
1481322    0     20  136   68   93  21.5    1
1481323    1     19  125   84  130  24.8    1

[1481324 rows x 7 columns]

In [26]:
# xgboost
import xgboost as xgb


# feature와 target 분리(설명변수 및 목표변수 분리)
x = df2.drop(['Dis'], axis=1) # df[df.columns.difference(['target'])]
y = np.array(df2['Dis']) # y = df['target']

# # 설명변수 데이터 스케일링
# x_train = scaler.fit_transform(x) # x_scaled = scaler.fit_transform(x)
# 전체 데이터에서 학습데이터셋과 테스트셋을 나눔 # 1:1 (5:5) 

x_up_train,x_up_test,y_up_train,y_up_test=train_test_split(x,y,test_size=0.9, random_state = 42) # 기본 0.25
x_up_train,x_up_val,y_up_train,y_up_val=train_test_split(x,y,test_size=0.5, random_state = 42) # val 나누기

# x,y,test_size=0.2, shuffle=True




# train과 test데이터의 비율을 6:4로 나누어주고
# 0.4비율이 된 test데이터를 다시 각 0.5 비율로 validation과 test를 나누어 줌
# 최종 결과가 train : test : validation = 6 : 2 : 2 비율

# # train set에서 train과 validation set를 나눔 # x,y,test_size=0.4
# x_test,x_val,y_test,y_val=train_test_split(x_test,y_test,test_size=0.5, shuffle=True)

print(x_up_train.shape)
print(y_up_train.shape)
print(x_up_val.shape)
print(y_up_val.shape)
print(x_up_test.shape)
print(y_up_test.shape)

(740662, 6)
(740662,)
(740662, 6)
(740662,)
(1333192, 6)
(1333192,)

In [27]:
# xgboost
import xgboost as xgb



# feature와 target 분리(설명변수 및 목표변수 분리)
x = df2.drop(['Dis'], axis=1) # df[df.columns.difference(['target'])]
y = np.array(df2['Dis']) # y = df['target']

# # 설명변수 데이터 스케일링
# x_train = scaler.fit_transform(x) # x_scaled = scaler.fit_transform(x)
# 전체 데이터에서 학습데이터셋과 테스트셋을 나눔 # 1:1 (5:5) 

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_up_train = sc.fit_transform(x_up_train)
x_up_test = sc.transform(x_up_test)

x_up_train,x_up_test,y_up_train,y_up_test=train_test_split(x,y,test_size=0.2, random_state = 42) # 기본 0.25
x_up_train,x_up_val,y_up_train,y_up_val=train_test_split(x,y,test_size=0.1, random_state = 42) # val 나누기

# x,y,test_size=0.2, shuffle=True

# train과 test데이터의 비율을 6:4로 나누어주고
# 0.4비율이 된 test데이터를 다시 각 0.5 비율로 validation과 test를 나누어 줌
# 최종 결과가 train : test : validation = 6 : 2 : 2 비율

# # train set에서 train과 validation set를 나눔 # x,y,test_size=0.4
# x_test,x_val,y_test,y_val=train_test_split(x_test,y_test,test_size=0.5, shuffle=True)

print(x_up_train.shape)
print(y_up_train.shape)
print(x_up_val.shape)
print(y_up_val.shape)
print(x_up_test.shape)
print(y_up_test.shape)

(1333191, 6)
(1333191,)
(148133, 6)
(148133,)
(296265, 6)
(296265,)

In [28]:
xgb_c = xgb.XGBClassifier(n_estimators=300,learning_rate = 0.1,max_depth = 3).fit(x_up_train,y_up_train)
print("train score : {}".format(xgb_c.score(x_up_train, y_up_train)))
# print("val score : {}".format(lgb.score(x_val, y_val)))

#print("test score : {}".format(lgb.score(x_test,y_test)))
predict_y = xgb_c.predict(x_up_test)

from sklearn.metrics import classification_report
print(classification_report(y_up_test, xgb_c.predict(x_up_test)))
print("test score : {}".format(xgb_c.score(x_up_test, y_up_test)))

train score : 0.7963900146340622
              precision    recall  f1-score   support

           0       0.82      0.76      0.79    147712
           1       0.78      0.83      0.80    148553

    accuracy                           0.79    296265
   macro avg       0.80      0.79      0.79    296265
weighted avg       0.80      0.79      0.79    296265

test score : 0.7948762087995545

In [29]:
import joblib

# 입력 데이터와 타깃을 준비합니다.
x = df2.drop(['Dis'], axis=1) # df[df.columns.difference(['target'])]
y = np.array(df2['Dis']) # y = df['target']

# K 최근접 이웃 모델에 입력 데이터와 타깃을 입력하고 학습시킨다.
xgb_c.fit(x,y)

# 학습시킨 모델을 현재 경로에 knn_model.pkl 파일로 저장합니다.
joblib.dump(xgb_c, './xgb_model.pkl')

['./xgb_model.pkl']

In [31]:
import joblib

loaded_model = joblib.load('./knn_model.pkl')

score = loaded_model.score(x,y)
print('정확도: {score:.3f}'.format(score=score))

정확도: 0.796