<a href="https://colab.research.google.com/github/LAGABI44/Project-AIFFELTHON/blob/main/code/2.%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D/02_Data_null_outlier_%EC%9D%B4%ED%98%B8%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  1.데이터 확인

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# 레티나 설정을 해주면 글씨가 좀 더 선명하게 보입니다.
# 폰트의 주변이 흐릿하게 보이는 것을 방지합니다.
%config InlineBackend.figure_format = 'retina'

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
plt.rc('font', family='NanumBarunGothic')

### 데이터 불러오기

In [ ]:
import os

# 다운로드 받은 파일을 판다스의 read_csv 를 통해 읽어옵니다.
# 파일을 읽어온 후 shape 로 행과 열의 수를 출력합니다.
# csv_path = '/content/drive/MyDrive/health/data/data_2.csv'
csv_path = '/content/drive/MyDrive/아이펠해커톤_2/data_dis01.csv'
df2 = pd.read_csv(csv_path, encoding='cp949')

df = df2.copy()
pd.set_option('display.max_columns', None) # 컬럼 수가 많으므로 요약되어 표시되지 않게 합니다.
# sample, head, tail : 데이터 미리보기
df # 데이터를 확인합니다.

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI  B_pressure  B_sugar
0         0      1  116   78   94    4  16.6           0        0
1         0      1  100   60   79    4  22.3           0        0
2         0      1  100   60   87    4  21.9           0        0
3         0      1  111   70   72    4  20.2           0        0
4         0      1  120   80   98    4  20.0           0        0
...     ...    ...  ...  ...  ...  ...   ...         ...      ...
999995    1     27  120   70   81    2  23.1           1        0
999996    1     27  110   70  104    2  27.2           1        0
999997    1     27  115   53  110    1  25.2           1        1
999998    1     27  120   70   90    2  19.7           1        0
999999    1     27  116   73   92    4  17.6           0        0

[1000000 rows x 9 columns]

In [ ]:
# # dtypes를 통해 데이터 형식만 출력
# df.dtypes

# info를 통해 데이터의 크기, 형식, 메모리 사용량 등을 봅니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   SEX         1000000 non-null  int64
 1   BTH_G       1000000 non-null  int64
 2   SBP         1000000 non-null  int64
 3   DBP         1000000 non-null  int64
 4   FBS         1000000 non-null  int64
 5   DIS         1000000 non-null  int64
 6   BMI         1000000 non-null  float64
 7   B_pressure  1000000 non-null  int64
 8   B_sugar     1000000 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 68.7 MB

### 결측치 확인

In [ ]:
# Null 값 여부 확인
df.isnull().sum()

SEX           0
BTH_G         0
SBP           0
DBP           0
FBS           0
DIS           0
BMI           0
B_pressure    0
B_sugar       0
dtype: int64

### 기초 통계 분석

In [ ]:
# 기초 통계량을 살펴봅니다.
df.describe()

,SEX,BTH_G,SBP,DBP,FBS,DIS,BMI,B_pressure,B_sugar
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,0.489773,13.905268,121.871763,75.787874,98.864428,3.471040,23.804029,0.259338,0.096512
std,0.499896,7.006442,14.561706,9.793411,22.981300,0.946151,3.297287,0.438272,0.295292
min,0.000000,1.000000,82.000000,50.000000,60.000000,1.000000,14.800000,0.000000,0.000000
25%,0.000000,9.000000,110.000000,70.000000,87.000000,3.000000,21.500000,0.000000,0.000000
50%,0.000000,14.000000,120.000000,76.000000,94.000000,4.000000,23.600000,0.000000,0.000000
75%,1.000000,19.000000,130.000000,80.000000,104.000000,4.000000,25.800000,1.000000,0.000000
max,1.000000,27.000000,190.000000,120.000000,358.000000,4.000000,40.300000,1.000000,1.000000

In [ ]:
df.head()

   SEX  BTH_G  SBP  DBP  FBS  DIS   BMI  B_pressure  B_sugar
0    0      1  116   78   94    4  16.6           0        0
1    0      1  100   60   79    4  22.3           0        0
2    0      1  100   60   87    4  21.9           0        0
3    0      1  111   70   72    4  20.2           0        0
4    0      1  120   80   98    4  20.0           0        0

In [ ]:
df.tail()

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI  B_pressure  B_sugar
999995    1     27  120   70   81    2  23.1           1        0
999996    1     27  110   70  104    2  27.2           1        0
999997    1     27  115   53  110    1  25.2           1        1
999998    1     27  120   70   90    2  19.7           1        0
999999    1     27  116   73   92    4  17.6           0        0